body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    outline: 1px solid;
    opacity: .1;
}

.black {
    background-color: black;
}

button {
    margin : 15px;
}